
* {
	font-family: Calibri, sans-serif;
	color: #ffffff;
	text-align: center;}
body {
	width: 840px;
	margin: 15px auto;
	background-color: #1a0000;}
nav {
	background-color: #1a0000;
	padding: 5px;}
main {
	background-color: #1a0000;}
article {
background-color: #1a0000;
width: 350px;
}
